EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
EXPO_PUBLIC_AUTH_WEB_BASE_URL=http://127.0.0.1:8000
EXPO_PUBLIC_AUTH_FORGOT_PASSWORD_URL=
EXPO_PUBLIC_AUTH_GOOGLE_URL=
EXPO_PUBLIC_AUTH_MICROSOFT_URL=
EXPO_PUBLIC_ANDROID_V2_READ_CONTRACTS_ENABLED=0
